body{
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
section{
    padding: 0 3%;
}
img{
    width: 100%;
}
h1{
    font-size: 42px;
}
.vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.box_width50{
width: 40%;
padding: 5%;
}
.mission_width30{
 width: 30%;
 margin: 1.5%;
}
.text_sceond_color{
    color: #FFAD5A;
}
.margin_bottom_20px{
    margin-bottom: 20px;
}
.button_style{
    padding: 10px 15px;
    background-color: #FF5959;
    color: #fff;
    border-radius: 5px;
}
.center_header{
    text-align: center;
    margin: auto;
}

.Profile_image img {
    max-width: 400px;
}

.mission_icon{
    max-width: 150px;
}
.mission_box{
    border-radius: 10px;
    padding: 20px;
}
.bg_color_bluish{
    background-color: #EDF5F6;
}
.bg_color_pink{
    background-color:#FFEEEE;
}
.bg_color_yeallowis{
    background-color:#FFF4D6;
}